.main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}
.main > div{
    font-size: 50px;
    color: var(--light);
    position: absolute;
}